<% layout("/layouts/boilerplate.ejs")%>

<div class="row mt-4">
  <div class="col-8 offset-2">
    <h2>Edit your listing</h2>
    <form
      method="POST"
      action="/listings/<%=listing._id%>?_method=PUT"
      novalidate
      class="needs-validation"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title:</label>
        <input
          type="text"
          value="<%= listing.title%>"
          name="title"
          id=""
          class="form-control"
          required
        />
        <div class="valid-feedback">Title looks good!</div>
      </div>
      <br />
      <div class="mb-3">
        <label for="description" class="form-label">Description:</label>
        <textarea
          name="description"
          id=""
          class="from-control"
          rows="4"
          cols="30"
          required
        >
<%= listing.description%></textarea
        >
        <div class="invalid-feedback">Please enter a short description</div>
      </div>
      <br />
      <div class="mb-3">
        <label for="title" class="form-label">Image:</label>
        <input
          type="text"
          value="<%= listing.image%>"
          name="image"
          id=""
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please upload an image</div>
      </div>
      <br />
      <div class="mb-3">
        <label for="price" class="from-label">Price:</label>
        <input
          type="number"
          value="<%= listing.price%>"
          name="price"
          id=""
          class="form-control"
          required
        />
        <div class="invalid-feedback">Price should be valid</div>
      </div>
      <br />
      <div class="mb-3">
        <label for="location" class="from-label">Location:</label>
        <input
          type="text"
          value="<%= listing.location%>"
          name="location"
          id=""
          class="form-control"
          required
        />
        <div class="invalid-feedback">Location should be valid</div>
      </div>
      <br />
      <div class="mb-3">
        <label for="country" class="form-label">Country:</label>
        <input
          type="text"
          value="<%= listing.country%>"
          name="country"
          id=""
          class="form-control"
          required
        />
        <div class="invalid-feedback">Country name should be valid</div>
      </div>

      <button class="btn btn-dark mb-3 edit-btn" type="submit">Edit</button>
    </form>
  </div>
</div>
<script src="js/script.js"></script>
